body{
  color: #cccccc;
  text-align: center !important;
  font-family: 'Roboto', sans-serif !important;
  width: 70%;
  height: auto;
  margin: auto;
  border-right: black 1px solid;
  border-left: black 1px solid;
  background-color:rgba(0, 0, 0, 0.8);
}
html{
  background-color: yellow;
}
a{
  color: #cccccc;
  text-decoration: none;
}
td{
  margin: auto;
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
}
@media only screen and (max-width: 1400px){
	body{
		width: 100%;
	}
}

pre{
  text-align: left !important;
}

/* #homePage{
  background-color:white;
  color:black;
  font-weight: bold;
} */
